@import "@/style/mixin.scss";
/**color**/
$wordColors:("primary": #3D5CFF,
  "info": #738394,
  "border": #EEEEEE,
  "dark": #2E3032,
  "middle": #7F7F7F,
  "light": #909399,
  "middle-1":#CBCDCE,
);

/**brder-radius**/
$wordBorderRadius:20upx;

.word-Border-radius {
  border-radius: $wordBorderRadius;
}

/**color / backGroundColor**/
@each $colorKey,
$color in $wordColors {
  .word-text-#{$colorKey} {
    color: $color
  }

  .word-bg-#{$colorKey} {
    background-color: $color
  }
}

.wordPageSty {
  height: calc(100vh - #{$footer-height} - 40rpx);
  overflow: scroll;
}