/**color**/
$wordColors:("primary": #3D5CFF,
  "info": #738394,
  "border": #EEEEEE,
  "dark": #2E3032,
  "middle": #7F7F7F,
  "light": #909399);

/**brder-radius**/
$wordBorderRadius:20upx;

.word-Border-radius {
  border-radius: $wordBorderRadius;
}

/**color / backGroundColor**/
@each $colorKey,
$color in $wordColors {
  .text-#{$colorKey} {
    color: $color
  }

  .bg-#{$colorKey} {
    background-color: $color
  }
}